[Unit]
Description=Servicio de Monitoreo de Cambios en Directorios
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /ruta/al/directory_monitor.sh
WorkingDirectory=/ruta/al/directorio/del/script
Restart=on-failure

[Install]
WantedBy=multi-user.target
